@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap");
/*
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
*/
ion-icon {
  font-size: 24px;
}
ion-icon[name^=ellipse] {
  font-size: 16px;
}

html, body {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 80px;
  max-width: 1200px;
}
@media (max-width: 1368px) {
  .content {
    max-width: 960px;
  }
}
@media (max-width: 1024px) {
  .content {
    max-width: 880px;
  }
}
@media (max-width: 768px) {
  .content {
    max-width: 576px;
  }
}
@media (max-width: 480px) {
  .content {
    max-width: 400px;
  }
}

.title {
  text-align: center;
  padding: 40px;
}
.title__desc {
  font-size: 18px;
  color: #898f8f;
  font-weight: 500;
  font-family: "Raleway";
}
.title__title {
  font-size: 60px;
  color: #ffcc00;
  line-height: 66px;
  font-weight: 900;
  font-family: "Roboto";
}

.fancy-bordered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fancy-bordered__content {
  display: flex;
  flex-direction: row;
}
.fancy-bordered__top {
  color: #ffcc00;
}
.fancy-bordered__top::before, .fancy-bordered__top::after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 2px;
  background-color: #ffcc00;
  margin-bottom: 10px;
}
.fancy-bordered__top ion-icon {
  width: 30px;
}
.fancy-bordered__vertical {
  margin: 40px 80px;
  width: 1px;
  height: 560px;
  background-color: #ffcc00;
}
.fancy-bordered__dots div {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ffcc00;
  margin: 4px;
  width: 8px;
  height: 8px;
}
.fancy-bordered__dots div:nth-of-type(1), .fancy-bordered__dots div:nth-of-type(3) {
  background-color: #ffcc00;
}

.fancy-cornered {
  width: 420px;
  position: relative;
  width: fit-content;
  height: fit-content;
  justify-self: flex-start;
}
.fancy-cornered__content {
  width: 420px;
  border: 1px solid #ffcc00;
}
.fancy-cornered__corner {
  position: absolute;
  border: 1px solid #ffcc00;
  width: 100px;
  height: 100px;
  margin: -15px;
}
.fancy-cornered__top-left {
  border-right: none;
  border-bottom: none;
  top: 0px;
  left: 0px;
}
.fancy-cornered__top-right {
  border-left: none;
  border-bottom: none;
  top: 0px;
  right: 0px;
}
.fancy-cornered__bottom-left {
  border-right: none;
  border-top: none;
  bottom: 0px;
  left: 0px;
}
.fancy-cornered__bottom-right {
  border-left: none;
  border-top: none;
  bottom: 0px;
  right: 0px;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slider__slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.slider__left {
  justify-self: flex-start;
  margin: 40px;
  color: #ffcc00;
}
.slider__right {
  justify-self: flex-end;
  margin: 40px;
  color: #ffcc00;
}

.fancy-text {
  width: 420px;
  justify-self: flex-end;
  text-align: center;
}
.fancy-text__header {
  font-size: 36px;
  letter-spacing: 1px;
  color: #666666;
  font-weight: 900;
  font-family: "Roboto";
}
.fancy-text__title {
  font-size: 24px;
  color: #666666;
  font-weight: 400;
  font-family: "Raleway";
}
.fancy-text__text {
  max-width: 420px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: 500;
  font-family: "Raleway";
  text-align: center;
}
.fancy-text__icons {
  display: flex;
  place-content: center center;
}
.fancy-text__icons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  border: 2px solid #cccccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 3px;
}
.fancy-text__icons > *:hover {
  color: #ffcc00;
  border-color: #ffcc00;
}
.fancy-text__button {
  margin-top: 40px;
  display: inline-block;
  font-size: 14px;
  color: #666666;
  font-weight: 700;
  font-family: "Open Sans";
  border: 1px solid #ffcc00;
  padding: 8px 10px;
  text-decoration: none;
}
.fancy-text__button:hover {
  color: #ffcc00;
}
.fancy-text__line {
  margin: 0 auto;
  height: 1px;
  width: 100px;
  background-color: #ffcc00;
}
.fancy-text__rects {
  margin: 0 auto;
}
.fancy-text__rects div {
  display: inline-block;
  margin: 0 2.5px;
  height: 4px;
  background-color: #ffcc00;
  width: 20px;
}
.fancy-text__rects div:nth-of-type(1), .fancy-text__rects div:nth-of-type(3) {
  width: 10px;
}

/*# sourceMappingURL=style.css.map */
