@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');
/*
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
*/

$color_orange: #ffcc00;
$color_text_light: #898f8f;
$color_text_medium: #666666;
$color_text_dark: #333333;


ion-icon {
	font-size: 24px;
	&[name^="ellipse"] {
		font-size: 16px;
	}
}


html, body {
	width: 100%;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 80px;

	max-width: 1200px;

	@media (max-width: 1368px) { max-width: 960px; }
	@media (max-width: 1024px) { max-width: 880px; }
	@media (max-width: 768px) { max-width: 576px; }
	@media (max-width: 480px) { max-width: 400px; }
}

.title {
	text-align: center;
	padding: 40px;
	&__desc {
		font-size: 18px;
		color: $color_text_light;
		font-weight: 500;
		font-family: "Raleway";
	}

	&__title {
		font-size: 60px;
		color: $color_orange;
		line-height: 66px;
		font-weight: 900;
		font-family: "Roboto";
	}
}

.fancy-bordered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__content {
		display: flex;
		flex-direction: row;
	}

	&__top {
		color: $color_orange;
		&::before,
		&::after {
			content: '';
			display: inline-block;
			width: 200px;
			height: 2px;
			background-color: $color_orange;
			margin-bottom: 10px;
		}
		ion-icon {
			width: 30px;
		}
	}

	&__vertical {
		margin: 80px;
		width: 1px;
		height: 560px;
		background-color: $color_orange;
	}

}

.fancy-cornered {

	position: relative;
	width: fit-content;
	height: fit-content;

	&__content {
		max-width: 400px;
		max-height: 400px;
		margin: 15px;
		border: 1px solid $color_orange;
	}

	&__corner {
		position: absolute;
		width: 100px;
		height: 100px;
	}

	&__top-left {
		border: 1px solid $color_orange;
		border-right: none;
		border-bottom: none;
		top: 0px;
		left: 0px;
	}

	&__top-right {
		border: 1px solid $color_orange;
		border-left: none;
		border-bottom: none;
		top: 0px;
		right: 0px;
	}
	
	&__bottom-left {
		border: 1px solid $color_orange;
		border-right: none;
		border-top: none;
		bottom: 0px;
		left: 0px;
	}

	&__bottom-right {
		border: 1px solid $color_orange;
		border-left: none;
		border-top: none;
		bottom: 0px;
		right: 0px;
	}

}

.slider {

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	
	&__slide {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;	
	}

	&__left {
		justify-self: flex-start;
		margin: 40px;
		color: $color_orange;
		font-size: 90px;

	}

	&__right {
		justify-self: flex-end;
		margin: 40px;
		color: $color_orange;
	}
}

.fancy-text {
	text-align: center;
	
	&__header {
		font-size: 36px;
		letter-spacing: 1px;
		color: $color_text_medium;
		font-weight: 900;
		font-family: "Roboto";
	}

	&__title {
		font-size: 24px;
		color: $color_text_medium;
		font-weight: 400;
		font-family: "Raleway";
	}

	&__text {
		width: 420px;
		height: 121px;
		font-size: 14px;
		color: $color_text_dark;
		font-weight: 500;
		font-family: "Raleway";
	}

	&__icons {
		display: flex;
		place-content: center center;
	}

	&__button {
		font-size: 14px;
		color: $color_text_medium;
		font-weight: 700;
		font-family: "Open Sans";
		border: 1px solid $color_orange;
	}



	&__line {

	}

	&__rects {

	}
}