.button {
	padding: 10px 30px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	box-sizing: border-box;
	text-align: center;
	border: none;
	outline: 0;

	background-color: #f72b3b;
	opacity: 0.9;
	color: #FFFFFF;
	font-size: 20px	;
}

.button:hover {
	opacity: 1.0;
}

.button:active {
	opacity: 0.9;
}