.navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.navigation__button {
	border-top: 3px solid rgba(0,0,0,0);
	text-decoration: none;
	color: #000000;
}

.navigation__button:hover {
	border-top: 3px solid #ff6033;
}