.title {
	margin: 0 auto;
	max-width: 600px;
	padding: 40px;
}

.title__title {
	font-size: 90px;
	font-weight: 700;
	text-align: center;
	margin: 10px auto;
}

.title__desc {
	font-size: 17px;
	font-weight: 300;
	text-align: center;
	margin: 10px auto;
}