.contact-block {
	display: flex;

	min-height: 700px;
	height: 100%;
	background: url('../img/contact-bg.png') no-repeat center;
	background-size: cover;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__text {
		font-family: $font_main;
		color: $clr_text_main;
		@media (max-width: 600px) {
			color: $clr_text_light;
			text-shadow: 1px 1px 2px #000;
		}
	}

	&__info {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		
	}


	&__title {
		max-width: 350px;
		margin: 40px auto;
		font-size: 90px;
		color: $clr_text_main;
		font-family: $font_main;
		font-weight: 700;
		text-align: center;
	}

	&__description {
		max-width: 350px;
		font-size: 17px;
		line-height: 27px;
		color: $clr_text_main;
		font-weight: 300;
		font-family: $font_main;
		text-align: center;
	}


}