.header {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
	z-index: 9999;

	background: linear-gradient(
		to bottom,
		#ffff 0%,
		#fff0 100%
	);

	// background-color: $clr_header_bg;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-size: 50px;
		color: $clr_header_fg;
		font-weight: 400;
		font-family: $font_logo;
	}

	&__navigation {
		font-family: $font_main;
	}

	@media (max-width: 800px) {
		height: 50px;
		&__logo {
			font-size: 30px;
		}
	}

}
