html, body {
  position: relative;
  margin: 0;
  padding: 10px;
}
  
.likes button {
  min-width: 140px;
  height: 40px;
  text-align: left;
  background: #bae285;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  outline: 0;
  color: white;
  border-radius: 4px;
  border: 2px solid #8ba868;
  border-radius: 4px;
  border-top: 0;
  border-left: 0;
}

.likes button>* {
  color: #bae285;
  min-width: 30px;
  background: white;
  float: right;
  text-align: center;
  padding: 2px;
  margin-left: 16px;
  border: 2px solid #8ba868;
  text-shadow: 1px 1px 1px #8ba868;
  border-radius: 4px;
  border-bottom: 0;
  border-right: 0;
}

.likes button:hover { box-shadow: 0px 0px 8px #8ba868 }
.likes button:active {background: #e6aba3;}

/*  */
.todo-list {
  width: fit-content;
}

.todo-list ul {
  list-style: none;
  padding-left: 0;
}

.todo-list ul>li {
  border: 2px solid #8ba868;
  border-radius: 8px;
  border-top: 0;
  border-left: 0;
  background-color: #bae285;
  margin: 2px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list ul>li>button, .todo-list__add {
  border: 0;
  outline: 0;
  background: 0;
  font-size: larger;
  margin-left: 4px;
  color: #8ba868;
}

.todo-list ul>li>button:first-child {
  font-size: xx-large;
  /* position: absolute; */
  /* left: 0; */
  /* top: -25%; */
  margin: -20px 0px;
  /* color: #bae285; */
  /* text-shadow: 0px 2px 1px #8ba868; */
  /* overflow:visible; */
}

.todo-list ul>li>input, .todo-list__new-task {
  color: #444;
  font-family: monospace;
  min-width: 200px;
  height: 100%;
  background: white;
  text-align: center;
  padding: 4px;
  border: 2px solid #8ba868;
  text-shadow: 1px 1px 1px #8ba868;
  border-radius: 4px;
  border-bottom: 0;
  border-right: 0;
}

.todo-list__active-list::before { content: 'Active tasks' }
.todo-list__done-list::before { content: 'Completed tasks' }
.todo-list__active-list::before,
.todo-list__done-list::before {
  display: block;
  margin: -5px auto;
  text-align: center;
  color: #cbeba4;
  text-shadow: 1px 1px 0px #8ba868;
  font-size: x-large;
}



/*  */

.text-editor div,
.text-editor textarea {
  resize: none; 
  outline: 4px solid black;
  border: 4px solid #fff;
  width: 400px;
  height: 200px;
  padding: 4px;
  background: #222;
  color: #fff;
  box-sizing: border-box;
  word-wrap: break-word;
}

.hidden {
  display: none;
}.mb{/*joke class*/
  color: transparent;
  text-shadow: 0px 0px 4px #111;
}

.blocked {
  user-select: none;
}

.highlight {
  background-color: #fd8;
  font-weight: bold;
}

.name-table th {
  cursor: pointer;
}

.name-table td {
  border: 1px dotted #222;
}

.name-table td:first-child {
  background-color: #222;
  color: #fff;
  font-family: monospace;
}

.resizer {
  display: block;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;  
  border-bottom: 20px solid #fff;
  margin: -2px;
  background-color: #cbeba4;
  outline: 2px solid #8ba868;
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: se-resize;
}

.resizable {
  display: block;
  /* outline: 4px solid black; */
  /* border: 4px solid #fff; */
  width: 400px;
  height: 200px;
  padding: 4px;
  box-shadow: -4px -4px 4px 0px #8ba868;
  background: #bae285;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
  font-family: monospace;
}


#recursive-subs {
  font-size: 100px;
}

.end {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -50px;
  font-family: monospace;
  font-weight: bold;
  font-size: 32px;
  color: transparent;
  text-shadow: 0px 0px 4px #111, 0px 0px 32px white;
  box-shadow: 0px -10px 10px 10px #111;
  background-color: #111;
  cursor: pointer;
}