@import 'fonts.scss';

$font_main: 'Raleway';
$font_logo: 'Pacifico';

$clr_header_bg: #ffffffaa;
$clr_header_fg: #262626;

$clr_text_main: #262626;
$clr_text_light: #ffffff;

$clr_navigation_bg: transparent;
$clr_navigation_fg: #262626;
$clr_navigation_highlight: #ff6033;
