@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* icon font */
@font-face {
  font-family: 'icomoon';
  src: url('assets/icomoon.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before { content: "\e900"; }
.icon-card:before { content: "\e901"; }
.icon-star:before { content: "\e902"; }
.icon-tooltip:before { content: "\e903"; }